*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    background: url(../static/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.panel{
    border: 2px solid #5c6c7b;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.panel p{
    font-size: 2rem;
    font-weight: bold;
}

.form{
    width: 350px;
}

.register{
    text-align: center;
}

.register a{
    text-decoration: none;
    font-weight: bold;
}

.register a:hover{
    text-decoration: underline;
}

.logo{
    height: 100%;
    width: 500px;
    border-radius: 1rem;
    box-shadow: 8px 8px 6px #ccc;
}