<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title-->
    <title>Home Service | Professional</title>
    <!--css-->
    <link rel="stylesheet" href="../static/index.css">
    <!--favicon-->
    <link rel="shortcut icon" href="../static/img/banner.jpg" type="image/x-icon">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <!--wrapper-->
    <div class="wrapper">

        <!--navbar-->
        <nav class="navbar navbar-expand-lg bg-dark-subtle position-fixed">
            <div class="container-fluid ms-5">

                <!--banner-->
                <a class="navbar-brand" href="#"><img src="../static/img/banner.jpg" alt="logo"
                        class="img-thumbnail banner margin me-5"></a>

                <!--nav items-->
                <div class=" navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!--home-->
                        <li class="nav-item ms-5 me-5 login ">
                            <a class="nav-link shadow" href="#"><i class="fa-solid fa-house"></i> Home</a>
                        </li>

                        <!--summary-->
                        <li class="nav-item ms-5 me-5 login">
                            <a class="nav-link shadow" href="/professional_summary"><i class="fa-solid fa-chart-simple"></i> Summary</a>
                        </li>

                        <!--profile-->
                        <li class="nav-item ms-5 me-5 login">
                            <a class="nav-link shadow" href="/profile"><i class="fa-solid fa-user"></i>
                                Profile</a>
                        </li>

                        <!--logout-->
                        <li class="nav-item ms-5 me-5 login">
                            <a class="nav-link shadow" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>
                                Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!--flash message-->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show" role="alert" id="flash-message">
            {{ messages[0][1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
        <!--flash message script-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let flashMessage = document.querySelector('#flash-message');

                if (flashMessage) {
                    setTimeout(function () {
                        flashMessage.classList.remove('show');
                        flashMessage.classList.add('fade');

                        setTimeout(function () {
                            window.location.reload();
                        }, 0);
                    }, 2000);
                }
            });
        </script>
        
        <!--main content-->
        <div class="mt-5 ms-5 me-5 p-5">
            
            <!--pending services-->
            <div style="border: 2px dotted black;" class="p-2 mt-5 rounded-2">
                {%if requests%}

                <!--heading-->
                <h4 class="fw-bold text-decoration-underline mb-3">Pending Service</h4>

                <!--table-->
                <table class="table">
                    <thead>
                        <tr class="table-secondary" style="text-align: center;">
                            <th scope="col">S.No.</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Date of Request</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        {% if request.status == 0 %}
                        <tr style="text-align: center;">
                            <th>{{loop.index}}</th>
                            <th>{{request.customer_name}}</th>
                            <th>{{request.mobile_number}}</th>
                            <th>{{request.date_of_request}}</th>
                            <th>
                                <span class="badge bg-warning">Pending</span>
                                
                            </th>
                            <th>
                                {%if request.status == 1 or request.status == 3%}
                                <button type="button" class="btn btn-success" disabled onclick="approveService('{{request.id}}')"><i class="fa-solid fa-circle-check"></i>
                                    Accept</button> | <button type="button" class="btn btn-danger" disabled onclick="rejectService('{{request.id}}')"><i
                                        class="fa-solid fa-circle-xmark"></i>
                                    Reject</button>
                                {%elif request.status == 0 %}
                                <button type="button" class="btn btn-success"  onclick="approveService('{{request.id}}')"><i class="fa-solid fa-circle-check"></i>
                                    Accept</button> | <button type="button" class="btn btn-danger" onclick="rejectService('{{request.id}}')"><i
                                        class="fa-solid fa-circle-xmark"></i>
                                        Reject</button>
                                        {%endif%}
                            </th>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
                {%else%}
                <h4 class="text-danger">No Service available...</h4>
                {%endif%}
            </div>
            <script>
                function approveService(id){
                    fetch(`/approve_service/${id}`, {method:"POST"})
                    .then(response => response.json())
                    .then(data=> {
                        alert(data.message)
                        location.reload()
                    })
                }
                
                function rejectService(id){
                    fetch(`/reject_service/${id}`, {method:"POST"})
                    .then(response => response.json())
                    .then(data=> {
                        alert(data.message)
                        location.reload()
                    })
                }
            </script>
            

            <!--accepted services-->
            <div style="border: 2px dotted black;" class="p-2 mt-5 rounded-2">
                {%if requests%}

                <!--heading-->
                <h4 class="fw-bold text-decoration-underline mb-3">Accepted Service</h4>

                <!--table-->
                <table class="table">
                    <thead>
                        <tr class="table-secondary" style="text-align: center;">
                            <th scope="col">S.No.</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Date of Request</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        {% if request.status == 1 %}
                        <tr style="text-align: center;">
                            <th>{{loop.index}}</th>
                            <th>{{request.customer_name}}</th>
                            <th>{{request.mobile_number}}</th>
                            <th>{{request.date_of_request}}</th>
                            <th>
                                <span class="badge bg-success">Accepted</span>
                            
                            </th>
                            <th>
                                {% if request.status == 2 %}
                                <button type="button" class="btn btn-success" disabled ><i class="fa-solid fa-circle-check"></i>
                                    Completed</button>
                                {%elif request.status == 1%}
                                <button type="button" class="btn btn-success" onclick="completeService('{{request.id}}')" ><i class="fa-solid fa-circle-check"></i>
                                    Completed</button>
                                {%endif%}
                            </th>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
                {%else%}
                <h4 class="text-danger">No Service available...</h4>
                {%endif%}
            </div>
            <script>
                function completeService(id){
                    fetch(`/complete_service/${id}`, {method:"POST"})
                    .then(response => response.json())
                    .then(data=> {
                        alert(data.message)
                        location.reload()
                    })
                }
            </script>


            <!--completed services-->
            <div style="border: 2px dotted black;" class="p-2 mt-5 rounded-2">
                {%if requests%}

                <!--heading-->
                <h4 class="fw-bold text-decoration-underline mb-3">Completed Service</h4>

                <!--table-->
                <table class="table">
                    <thead>
                        <tr class="table-secondary" style="text-align: center;">
                            <th scope="col">S.No.</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Date of Request</th>
                            <th scope="col">Date of Completition</th>
                            <th scope="col">Status</th>
                            <th scope="col">Rating</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        {% if request.status == 2 %}
                        <tr style="text-align: center;">
                            <th>{{loop.index}}</th>
                            <th>{{request.customer_name}}</th>
                            <th>{{request.mobile_number}}</th>
                            <th>{{request.date_of_request}}</th>
                            <th>{{request.date_of_completition}}</th>
                            <th>
                                <span class="badge bg-primary">Completed</span>
                            
                            </th>
                            <th>
                                {%if request.rating %}
                                <span>
                                    {%for _ in range(request.rating) %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {%endfor%}
                                </span>
                                {%else%}
                                N/A
                                {%endif%}

                            </th>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
                {%else%}
                <h4 class="text-danger">No Service available...</h4>
                {%endif%}
            </div>
            

            <!--rejected services-->
            <div style="border: 2px dotted black;" class="p-2 mt-5 rounded-2">
                {%if requests%}

                <!--heading-->
                <h4 class="fw-bold text-decoration-underline mb-3">Rejected Service</h4>

                <!--table-->
                <table class="table">
                    <thead>
                        <tr class="table-secondary" style="text-align: center;">
                            <th scope="col">S.No.</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Date of Request</th>
                            <th scope="col">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        {% if request.status == 3 %}
                        <tr style="text-align: center;">
                            <th>{{loop.index}}</th>
                            <th>{{request.customer_name}}</th>
                            <th>{{request.mobile_number}}</th>
                            <th>{{request.date_of_request}}</th>
                            <th>
                                <span class="badge bg-danger">Rejected</span>
                            
                            </th>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
                {%else%}
                <h4 class="text-danger">No Service available...</h4>
                {%endif%}
            </div>
            

        </div>

    </div>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>